@import url(https://allfont.net/allfont.css?fonts=comic-sans-ms);

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', arial;
}

body {
    background-color: rgba(38, 38, 38, 0.95);
    overflow: hidden;
}

.main {
    width: 25%;
    padding: 1% 1% 2%;
    background-color: #222;
    margin: 20% auto;
    position: relative;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
}

.main input {
    text-align: center;
    padding: 0.4rem 0;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

.main select {
    display: block;
    margin: 5% auto;
    background-color: #222;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.main h1 {
    margin: 0 auto;
}

.main a {
    display: block;
    margin-top: 5px;
}

@media only screen and (max-width: 750px) {
    .main {
        width: 65%;
        margin: 65% auto;
    }

    .main select {
        text-align: center;
    }

    .main input {
        text-align: center;
    }
}
